<h3>Details of book</h3>

<form name="detailNew">
<div>
    <div>
        <label for="name">Name</label>
        <input readonly id="name" ng-model="data.name"/>
    </div>
    <div>
        <label for="author">Author</label>
        <input readonly id="author" ng-model="data.author"/>
    </div>
    <div>
        <label for="yearPub">Year Pub</label>
        <input readonly id="yearPub" ng-model="data.yearPub"/>
    </div>
    <div>
        <label for=""genre"">Genre</label>
        <input readonly id="genre" ng-model="data.genre"/>
    </div>
    
    <h4></h4>
    <button ng-click="goToList()">Go to list</button>
</div>
</form>